<!-- -&#45;&#45;-->
<!--test_text: TESTTEXT (variabel) I BLOG_POSTS-->
<!-- -&#45;&#45;-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om mig</title>
</head>
<body>

<main class="page-content" aria-label="Content">
  <div class="wrapper">
  <div class="aboutbox">
    <p>Om mig</p>

    DETTA ÄR /_INCLUDES/ABOUT_BOX PUNKT HTML

    <p>
    <img src = "/img/apa.jpg" width="50" alt="En bild på mig">
    </p>


    <p>

    Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig.
      Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig.
      Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. All work and no play

    </p>


    <p>
    <a href="/about/">Läs hela min presentation</a>
    </p>

  </div>
  </div>

</body>
</html>
