<!-- -&#45;&#45;-->
<!--test_text: TESTTEXT (variabel) I BLOG_POSTS-->
<!-- -&#45;&#45;-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om mig</title>
</head>
<body>

<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <div class="aboutbox-col-wrapper">
    <div class="aboutbox-col-1">
    <!--<h1 class="page-heading"></h1>-->

    <img src = "/img/avatar_mini.png" alt="En bild på mig">
      <!--<img src = "/img/avatar.jpg" alt="En bild på mig">-->

    </div>


    <div class="aboutbox-col-2">

      <h1>Om mig</h1>

      <div class="about-text">

        <p>
        Orakad mångsysslare som sedan 2012 är bosatt i Tokyo.
          Intressen: konst, resor, korta böcker och långa promenader.<br>
          Är även oerhört förtjust i oerhört onyttig mat samt att missa deadlines.
          Fobier: delfiner, vatten, paradoxer.
        </p>

      <a href="/about/">Läs hela min presentation</a>


    </div>

    </div>


    </div>
  </div>

</body>
</html>
