<header class="wrapper" role="banner">

  <div class="site-menu">

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <!--<div class="trigger">-->
      <p>
      Navigation:&nbsp;&nbsp; <a class="page-link" href="/">Startsida</a>
      &nbsp;///&nbsp;
      <a class="page-link" href="/about">Om mig</a>
      &nbsp;///&nbsp;
      <a class="page-link" href="/uppgifter.html">Uppgifter</a>
      &nbsp;///&nbsp;
      <a class="page-link" href="mailto:ah223ws@student.lnu.se">Kontakt</a>
      </p>

    <!--</div>-->

      <div class="site-header">

    <!--med detta bortkommenterat försvinner titeln:-->
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      </div>


  </div>




</header>
