@charset "utf-8";

// Det går att ta bort ALLT i detta dokument och bara skriva
//body { background: red; }

//h1 {
//  size: 300px;
//  color: black;
//}


// Define defaults for each variable.

$base-font-family: Yanone Kaffeesatz;
$tempfont: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$second-base-font-family: Courier;
$base-font-size:   15px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     20px !default;

//@mixin linearGradient($start, $finish) {
//background-image(linear-gradient($start, $finish));
//}

// $ = variabler
$headline-color: #f27e61 !default;
$text-color:       black !default;
//f84aa3
$background-color: #fdc66b !default;
//{ @include linearGradient(black, white); };
$brand-color:      #76cbd9 !default;
// #4fcdf5

$grey-color:       #828280 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-ultralight: #f6f6f6;
$grey-color-dark:  darken($grey-color, 40%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
"minima/base", // här importeras alltså de partials som ligger i minima-katalogen
"minima/layout",
"minima/syntax-highlighting"
;
