/**
 * Site header
 */



.site-header {
  font-family: $headline-font-family; // Detta styr typsnittet i menyn, ej loggan
  border-radius: 0px 0px 15px 15px;
  box-shadow: 10px 10px black;
  background-color: white;
  margin-top: 5px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  // Positioning context for the mobile navigation icon
  position: relative;

}


.site-menu {
  p{
    padding-left: 20px;
  }
  font-family: $headline-font-family; // Detta styr typsnittet i menyn, ej loggan
  color: $grey-color-light;
  .page-link {
    color: $brand-color-dark;
    //&hover { color: white; }
    font-family: $headline-font-family; // Detta styr typsnittet i menyn, ej loggan
    .a:hover { color: white; }
  }
  //height: 90;
  border-radius: 15px;
  box-shadow: 10px 10px black;
  background-color: $brand-color;
  margin-top: 15px;
  padding-top: 10px;
}

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }




// Detta är "loggan"
.site-title {
  @include relative-font-size(3);
  font-family: $headline-font-family;
  color: $brand-color-dark;
  background-color: white;
  text-decoration:none;
  &:hover {
    color: $brand-color-dark;
    text-decoration: none;
  }
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: 0;
  float: left;

}





@include media-query($on-palm) {
  .site-title {
    @include relative-font-size(2);
  }
  //.site-menu {
  //  @include relative-font-size(0.5);
  //  background: green;
  //  color: green;
  //  display:inline-block;
  //  .page-link {
      //@include relative-font-size(0.5)
    //}
  //}
}








/**
 * Site footer
 */
.site-footer {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: 10px;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  color: #383838;
  font-weight: bolder;
  @include relative-font-size(0.7);
  //margin-left: 3px; // styr också hela raden
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  margin-left: 30px; // tidigare 30px; detta styr hela radens placering, inte inre marginaler
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
  //box-shadow: 10px 10px $grey-color-dark;
  border-radius: 15px;
  // tidigare 45%
  margin-left:10px;
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
  //box-shadow: 10px 10px black;
  border-radius: 15px;
  margin-left:10px;
  padding-left:10px;
}

.footer-col-3 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
  //box-shadow: 10px 10px black;
  border-radius: 15px;
  margin-left:10px;
  padding-left:10px;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;

}

.page-heading {
  @include relative-font-size(2);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-comment-counter {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


h1, h3, h4 {
  font-family: $headline-font-family;
  color: $headline-color;
}

h2 {
  font-family: $headline-font-family;
  color: white;
  @include relative-font-size(2);

  @include media-query($on-laptop) {
    @include relative-font-size(1.75);
  }
}

// Detta är inläggens "ingresser" (typ examinationsfrågorna)
h3 {
  color: black;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  //text-decoration: none;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}



.post-content {
  margin-bottom: $spacing-unit;

  h1  {
    font-family: $headline-font-family;
    @include relative-font-size(3);

    @include media-query($on-laptop) {
      @include relative-font-size(2);
    }
  }

  h2 {
    //@include relative-font-size(3);
    //
    //@include media-query($on-laptop) {
    //  @include relative-font-size(2);
    //}
  }

  h3 {
    @include relative-font-size(1.3);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.content-box {
  @extend .site-header;

  border-radius: 15px;
  margin-top: 0;
  background-color: white;
  height: auto;
  font-family: $base-font-family;
  box-shadow: 10px 10px black;
  padding: 20px;
}




.aboutbox-col-wrapper {
  //@extend .content-box;

  height: auto;

  a:link {
    background-color: white;
  }

  a:visited {
    background-color: white;
    //box-shadow: 10px 10px black;
  }

  a:hover {
    background-color: white;
  }

  a:active {
    background-color: white;
  }

  //border-radius: 15px;
  //background-color: $brand-color-dark;
  //box-shadow: 10px 10px white;
  padding: 0;
  //font-style: italic;
  color: white;

  @extend %clearfix;
 }


.aboutbox-col-1 {
    // Detta styr alltså bildens storlek:
    width: -webkit-calc(28% - (#{$spacing-unit} / 2));
    width:         calc(28% - (#{$spacing-unit} / 2));
  float: left;
  box-shadow: 10px 10px black;
  //height: 203px;
  //height: auto;
  border-radius: 15px 0px 0px 15px;
}

.aboutbox-col-2 {

  color: white; // funkar

  //height: 193px;
  //height: auto;
  box-shadow: 10px 10px black;
  border-radius: 0px 15px 15px 0px;
  width: -webkit-calc(70% - (#{$spacing-unit} / 2));
  width:         calc(70% - (#{$spacing-unit} / 2));
  float: left;
  //margin-bottom: $spacing-unit / 2;
  //margin-top: 13px;
  margin-left: 15px; // avstånd till bildkolumnen
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
  background-color: $brand-color-dark;
  //padding-left: $spacing-unit / 2;
  .about-text {
    @include relative-font-size(0.8);
  }
  h1 {
    color: $headline-color;
  }
}

@include media-query($on-laptop) {
  .aboutbox-col-1 {
    width: -webkit-calc(28% - (#{$spacing-unit} / 2));
    width:         calc(28% - (#{$spacing-unit} / 2));
  }

  .aboutbox-col-2 {
    //margin-top: $spacing-unit;
    //margin-left: 0;
    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
    width:         calc(65% - (#{$spacing-unit} / 2));
  }
}
























