<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!--APA från DEFAULT.HTML: detta dyker upp HÖGST UPP på sajten, på en hylla över allt annat, föga elegant!-->

<!--detta var ej bortkommenterat från början:-->
<!--<link rel="stylesheet" type="text/css" href="../../../../../assets/main.css">-->

  {% include head.html %}

  <body>




  {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="content-box">
        {{ content }}
      </div>
      </div>


  {% if page.about != true %}
  {% include about_box.html %}
  {% endif %}


    {% include footer.html %}

  </body>

</html>
