<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!--APA från DEFAULT.HTML: detta dyker upp HÖGST UPP på sajten, på en hylla över allt annat, föga elegant!-->

<!--detta var ej bortkommenterat från början:-->
<!--<link rel="stylesheet" type="text/css" href="../../../../../assets/main.css">-->

  {% include head.html %}

  <body>




  {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="content-box">
        <p>DETTA ÄR DEFAULT.HTML:s MAIN, CONTENT UNDER DENNA LINJE:</p>
        <p>---</p>
        {{ content }}
      </div>
      </div>
    <!--</main>-->



  <!--<main class="page-content" aria-label="Content">-->
  <!--<div class="wrapper">-->
    <!--<div class="aboutbox">-->
      <!--<p>Om mig</p>-->

      <!--ABOUT_BOX SOM ICKE-INCLUDE-->

      <!--<p>-->
        <!--<img src = "/img/apa.jpg" width="50" alt="En bild på mig">-->
      <!--</p>-->


      <!--<p>-->

        <!--Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig.-->
        <!--Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig.-->
        <!--Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. Lite info om mig. All work and no play-->

      <!--</p>-->


      <!--<p>-->
        <!--<a href="/about/">Läs hela min presentation</a>-->
      <!--</p>-->

    <!--</div>-->
  <!--</div>-->
  <!--</main>-->


  {% if page.about != true %}
  {% include about_box.html %}
  {% endif %}


    {% include footer.html %}

  </body>

</html>
