<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!--APA detta dyker upp HÖGST UPP på sajten, på en hylla över allt annat, föga elegant!-->

<link rel="stylesheet" type="text/css" href="../css/main.css">

  {% include head.html %}

  <body>

  <!--{% include footer.html %} MAN KAN FLYTTA RUNT MODULERNA FRITT FÖR ATT EX PLACERA FOOTER ÖVERST -->


  {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}


  </body>

</html>
