---
layout: default
<!--comments: true-->
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      | <a href="{{ page.url }}">Permalänk</a>

      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
    <p class="post-comment-counter">
    {% if page.comments %}
    <a href="{{ page.url }}#disqus_thread"></a>

    {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">


    {{ content }}

  </div>


  <!--detta funkar nu!-->


  {% if page.comments %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
